<a href="https://colab.research.google.com/github/AlexandreMinato/Investimentos_FII/blob/main/Analises_FII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [182]:
import datetime
import logging
import requests
import numpy as np
import pandas as pd
import pytz

# Capturando os dados

In [184]:
url = 'https://www.fundsexplorer.com.br/ranking'
dados = requests.get(url,  headers={'User-Agent': 'Mozilla/5.0'})
list_obj = pd.read_html(dados.text, attrs={'id': 'table-ranking'})
df = list_obj[0]

In [185]:
# redefinindo nome das colunas
df.columns = ['ativo', 'setor', 'preco', 'liquidez_dia', 'dividendo', 'yeld', 'yeld_3m_acululado', 'yeld_6m_acululado', 'yeld_12m_acululado', 'yeld_3m_media', 'yeld_6m_media', 'yeld_12m_media', 'yeld_ano', 'variacao_preco', 'rent_periodo', 'rent_acumulada', 'patrimonio_liq', 'vpa', 'p_vpa', 'dy_patrimonial', 'variacao_patrimonial', 'rent_patr_periodo', 'rent_acumulada_periodo', 'vacancia_fisica', 'vacancia_financeira', 'quantidade_ativos']

In [126]:
df.head()

    ativo                setor  ... vacancia_financeira  quantidade_ativos
0  FIVN11            Shoppings  ...                 NaN                  1
1  BZLI11  Títulos e Val. Mob.  ...                 NaN                  0
2  XTED11   Lajes Corporativas  ...             100,00%                  1
3  ALMI11   Lajes Corporativas  ...                 NaN                  1
4  DOMC11   Lajes Corporativas  ...                 NaN                  1

[5 rows x 26 columns]

#Normalizando as colunas

In [127]:
def identificar_conteudo_colunas(df, item):
    
    return [df[column].name for column in df if df[column].astype(str).str.contains(item).any()]

In [128]:
#Converter financeiro
coluna_monetario = identificar_conteudo_colunas(df, '\$')

for column_name in coluna_monetario:
    df[column_name] = df[column_name].str.replace('.', '')
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[R\$ ,]', '', regex=True).astype(float)

In [129]:
# Converter as colunas de percentual em numericas
coluna_percentual = identificar_conteudo_colunas(df, '\%')
for column_name in coluna_percentual:
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[%,]', '', regex=True).astype(float)
    df[column_name] = df[column_name]/100

In [130]:
# Corrige o valor patrimonial
df['p_vpa'] = df['p_vpa']/100

In [131]:
# Normaliza o setor
df['setor'] = df['setor'].str.replace('\s+', '_')
df['setor'] = df['setor'].str.replace(r'[^\w\s]+', '_')
df['setor'] = df['setor'].str.lower()
df['setor'] = df['setor'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

# Iniciando as analises

In [132]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'outros', 'hotel', 'residencial', 'logistica',
       'hospital'], dtype=object)

In [133]:
df.ativo.nunique()

238

In [134]:
# Convert p/vpa to the correct base
df['p_vpa'] = df['p_vpa']/100
# Checking if is it correct
df[df['ativo'] == 'VRTA11']

      ativo                setor  ...  vacancia_financeira  quantidade_ativos
106  VRTA11  titulos_e_val__mob_  ...                  NaN                  0

[1 rows x 26 columns]

In [135]:
df.describe()

              preco  liquidez_dia  ...  vacancia_financeira  quantidade_ativos
count    228.000000  2.280000e+02  ...            25.000000         238.000000
mean     519.575088  2.267750e+04  ...             0.126372           3.331933
std     5642.306143  1.006695e+05  ...             0.232114           7.999150
min        0.780000  1.000000e+00  ...             0.000000           0.000000
25%       82.282500  2.182500e+02  ...             0.000000           0.000000
50%       99.120000  2.483000e+03  ...             0.036000           1.000000
75%      111.545000  1.481425e+04  ...             0.123000           3.000000
max    85227.760000  1.336487e+06  ...             1.000000          72.000000

[8 rows x 24 columns]

In [136]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'outros', 'hotel', 'residencial', 'logistica',
       'hospital'], dtype=object)

In [137]:
# Filtering relevant sectors
df = df[df['setor'].isin(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas', 'hibrido', 'logistica'])].copy()

In [138]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'logistica'], dtype=object)

In [139]:
df.head()

    ativo                setor  ...  vacancia_financeira  quantidade_ativos
0  FIVN11            shoppings  ...                  NaN                  1
1  BZLI11  titulos_e_val__mob_  ...                  NaN                  0
2  XTED11   lajes_corporativas  ...                  1.0                  1
3  ALMI11   lajes_corporativas  ...                  NaN                  1
4  DOMC11   lajes_corporativas  ...                  NaN                  1

[5 rows x 26 columns]

In [149]:
# Price vs net worth
df['acceptable_pricing'] = np.where((df['p_vpa'] > 0.9) & (df['p_vpa'] < 1.1) , True, False)

# Asset diversification
diverssified_assets_conditions = [
    # 1st Condition
    (df['setor'].isin(['shoppings', 'lajes_corporativas', 'logistica'])) &
    (df['quantidade_ativos'] > 5),
    # 2st Condition
    (df['setor'].isin(['shoppings', 'lajes_corporativas', 'logistica'])) &
    (df['quantidade_ativos'] < 5),
    # 3rd Condition
    (~df['setor'].isin(['shoppings', 'lajes_corporativas', 'logistica']))
]
diverssified_assets_choices = [True, False, True]
df['diverssified_assets'] = np.select(diverssified_assets_conditions, diverssified_assets_choices, default=None)

# Vacancy
df['razonably_occupied'] = np.where((df['vacancia_fisica'] < 0.1) | (df['vacancia_fisica'].isnull()) | (df['vacancia_fisica'].isnull()) , True, False)

# Liquidity
df['is_liquid'] = np.where(df['liquidez_dia'] > 20000, True, False)

# dividend yield
df['good_earnings'] = np.where(df['yeld_12m_acululado'] > 0.05, True, False)

In [151]:
papper_acceptable_conditions = (
    df.acceptable_pricing &
    df.diverssified_assets &
    df.razonably_occupied &
    df.is_liquid &
    df.good_earnings
)
df_results = df.loc[papper_acceptable_conditions].sort_values(by=['yeld_12m_acululado', 'liquidez_dia'], ascending=False)

### Resultado
*Os papéis abaixo não são recomendação de compra, mas sim estudo*.

In [152]:
df_results

Empty DataFrame
Columns: [ativo, setor, preco, liquidez_dia, dividendo, yeld, yeld_3m_acululado, yeld_6m_acululado, yeld_12m_acululado, yeld_3m_media, yeld_6m_media, yeld_12m_media, yeld_ano, variacao_preco, rent_periodo, rent_acumulada, patrimonio_liq, vpa, p_vpa, dy_patrimonial, variacao_patrimonial, rent_patr_periodo, rent_acumulada_periodo, vacancia_fisica, vacancia_financeira, quantidade_ativos, preco_justo, diversificacoes, ocupacao, liquidez, bons_dividendos, acceptable_pricing, diverssified_assets, razonably_occupied, is_liquid, good_earnings]
Index: []