<a href="https://colab.research.google.com/github/AlexandreMinato/Investimentos_FII/blob/main/Analises_FII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
import logging
import requests
import numpy as np
import pandas as pd

# Capturando os dados

In [ ]:
url = 'https://www.fundsexplorer.com.br/ranking'
dados = requests.get(url,  headers={'User-Agent': 'Mozilla/5.0'})
list_obj = pd.read_html(dados.text, attrs={'id': 'table-ranking'})
df = list_obj[0]

In [ ]:
# redefinindo nome das colunas
df.columns = ['ativo', 'setor', 'preco', 'liquidez_dia', 'dividendo', 'yeld', 'yeld_3m_acululado', 'yeld_6m_acululado', 'yeld_12m_acululado', 'yeld_3m_media', 'yeld_6m_media', 'yeld_12m_media', 'yeld_ano', 'variacao_preco', 'rent_periodo', 'rent_acumulada', 'patrimonio_liq', 'vpa', 'p_vpa', 'dy_patrimonial', 'variacao_patrimonial', 'rent_patr_periodo', 'rent_acumulada_periodo', 'vacancia_fisica', 'vacancia_financeira', 'quantidade_ativos']

In [ ]:
df.head()

    ativo                setor  ... vacancia_financeira  quantidade_ativos
0  FIVN11            Shoppings  ...                 NaN                  1
1  BZLI11  TÃ­tulos e Val. Mob.  ...                 NaN                  0
2  XTED11   Lajes Corporativas  ...             100,00%                  1
3  ALMI11   Lajes Corporativas  ...                 NaN                  1
4  DOMC11   Lajes Corporativas  ...                 NaN                  1

[5 rows x 26 columns]

#Normalizando as colunas

In [ ]:
def identificar_conteudo_colunas(df, item):
    
    return [df[column].name for column in df if df[column].astype(str).str.contains(item).any()]

In [ ]:
#Converter financeiro
coluna_monetario = identificar_conteudo_colunas(df, '\$')

for column_name in coluna_monetario:
    df[column_name] = df[column_name].str.replace('.', '')
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[R\$ ,]', '', regex=True).astype(float)

In [ ]:
# Converter as colunas de percentual em numericas
coluna_percentual = identificar_conteudo_colunas(df, '\%')
for column_name in coluna_percentual:
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[%,]', '', regex=True).astype(float)
    df[column_name] = df[column_name]/100

In [ ]:
# Normaliza o setor
df['setor'] = df['setor'].str.replace('\s+', '_')
df['setor'] = df['setor'].str.replace(r'[^\w\s]+', '_')
df['setor'] = df['setor'].str.lower()
df['setor'] = df['setor'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

# Iniciando as analises

In [ ]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'outros', 'hotel', 'residencial', 'logistica',
       'hospital'], dtype=object)

In [ ]:
df.ativo.nunique()

238

In [ ]:
# Convert p/vpa to the correct base
df['p_vpa'] = df['p_vpa']/100
# Checking if is it correct
df[df['ativo'] == 'VRTA11']

      ativo                setor  ...  vacancia_financeira  quantidade_ativos
106  VRTA11  titulos_e_val__mob_  ...                  NaN                  0

[1 rows x 26 columns]

In [ ]:
df.describe()

              preco  liquidez_dia  ...  vacancia_financeira  quantidade_ativos
count    228.000000  2.280000e+02  ...            25.000000         238.000000
mean     519.575088  2.267750e+04  ...             0.126372           3.331933
std     5642.306143  1.006695e+05  ...             0.232114           7.999150
min        0.780000  1.000000e+00  ...             0.000000           0.000000
25%       82.282500  2.182500e+02  ...             0.000000           0.000000
50%       99.120000  2.483000e+03  ...             0.036000           1.000000
75%      111.545000  1.481425e+04  ...             0.123000           3.000000
max    85227.760000  1.336487e+06  ...             1.000000          72.000000

[8 rows x 24 columns]

In [ ]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'outros', 'hotel', 'residencial', 'logistica',
       'hospital'], dtype=object)

In [ ]:
# filtrando setores
df = df[df['setor'].isin(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas', 'hibrido', 'logistica'])].copy()

In [ ]:
df.setor.unique()

array(['shoppings', 'titulos_e_val__mob_', 'lajes_corporativas',
       'hibrido', 'logistica'], dtype=object)

In [ ]:
df.head()

    ativo                setor  ...  vacancia_financeira  quantidade_ativos
0  FIVN11            shoppings  ...                  NaN                  1
1  BZLI11  titulos_e_val__mob_  ...                  NaN                  0
2  XTED11   lajes_corporativas  ...                  1.0                  1
3  ALMI11   lajes_corporativas  ...                  NaN                  1
4  DOMC11   lajes_corporativas  ...                  NaN                  1

[5 rows x 26 columns]

#Condicoes para filtrar os FIIs

In [ ]:
#Preco aceitavel para pagamento, considerando cota e valor patrimonial
df['preco_justo'] = np.where((df['p_vpa'] > 0.9) & (df['p_vpa'] < 1.1) , True, False)

setores_considerar = ['shoppings', 'lajes_corporativas', 'logistica']

# Diversificacao do papel
diversificacoes_ativos = [
    # Condicoes do setor com mais de 5 ativos
    (df['setor'].isin(setores_considerar)) & 
    (df['quantidade_ativos'] > 5),
    # Condicoes do setor com menos de 5 ativos
    (df['setor'].isin(setores_considerar)) &
    (df['quantidade_ativos'] < 5),
    # setores
    (~df['setor'].isin(setores_considerar))
]
diversificacoes_aceitaveis = [True, False, True]
df['ativos_diversificados'] = np.select(diversificacoes_ativos, diversificacoes_aceitaveis, default=None)

# imovel com vacancia aceitavel
df['vacancia_aceitavel'] = np.where((df['vacancia_fisica'] < 0.1) | (df['vacancia_fisica'].isnull()) | (df['vacancia_fisica'].isnull()) , True, False)

# liquidez
df['liquidez'] = np.where(df['liquidez_dia'] > 20000, True, False)

# que paga bons dividendos
df['dividendos_minimos'] = np.where(df['yeld_12m_acululado'] > 0.05, True, False)

In [ ]:
condicoes_ativos = (
    df.preco_justo &
    df.ativos_diversificados &
    df.vacancia_aceitavel &
    df.liquidez &
    df.dividendos_minimos
)
df_results = df.loc[condicoes_ativos].sort_values(by=['yeld_12m_acululado', 'liquidez_dia'], ascending=False)

### Resultado
*Os papÃ©is abaixo atendem aos filtros de diversificaÃ§Ã£o e preÃ§o justo.

In [ ]:
df_results

      ativo                setor  ...  liquidez  dividendos_minimos
189  RECR11  titulos_e_val__mob_  ...      True                True
196  CVBI11  titulos_e_val__mob_  ...      True                True
192  CPTS11  titulos_e_val__mob_  ...      True                True
75   BCRI11  titulos_e_val__mob_  ...      True                True
114  KNIP11  titulos_e_val__mob_  ...      True                True
63   KNHY11  titulos_e_val__mob_  ...      True                True
122  MXRF11              hibrido  ...      True                True
199  RBRF11  titulos_e_val__mob_  ...      True                True
140  VINO11   lajes_corporativas  ...      True                True
202  MCCI11  titulos_e_val__mob_  ...      True                True
108  HFOF11  titulos_e_val__mob_  ...      True                True
190  BTCR11  titulos_e_val__mob_  ...      True                True
178  BCFF11  titulos_e_val__mob_  ...      True                True
129  HGRU11              hibrido  ...      True                True
78   XPLG11            logistica  ...      True                True
136  BRCO11            logistica  ...      True                True
55   LVBI11            logistica  ...      True                True
142  VILG11            logistica  ...      True                True

[18 rows x 31 columns]