<a href="https://colab.research.google.com/github/AlexandreMinato/Investimentos_FII/blob/main/Lista_yeld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date, datetime

In [74]:
#@title Consulta dividendos
#@markdown Formulario de consulta.

papel = 'BRCR11'  #@param

# Captura de informação

In [103]:


url = 'https://fiis.com.br/' + papel

dados = requests.get(url,  headers={'User-Agent': 'Mozilla/5.0'})
# last-revenues--table
list_obj = pd.read_html(dados.text, attrs={'id': 'last-revenues--table'})
df = list_obj[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DataBase       10 non-null     object
 1   DataPagamento  10 non-null     object
 2   CotaçãoBase    10 non-null     object
 3   DY             10 non-null     object
 4   Rendimento     10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [104]:
df.columns = ['data_base', 'data_pagamento', 'cotacao_base', 'div_yeld', 'rendimento']

In [83]:
df

   data_base data_pagamento  cotacao_base  div_yeld  rendimento
0 2021-05-07     2021-05-14         84.85    0.0054        0.46
1 2021-04-08     2021-04-15         84.63    0.0054        0.46
2 2021-03-05     2021-03-12         84.99    0.0056        0.48
3 2021-02-05     2021-02-12         89.58    0.0055        0.49
4 2021-01-08     2021-01-15         91.80    0.0054        0.50
5 2020-12-07     2020-12-14         87.00    0.0057        0.50
6 2020-11-09     2020-11-16         88.41    0.0053        0.47
7 2020-10-07     2020-10-15         91.50    0.0049        0.45
8 2020-09-08     2020-09-15         90.80    0.0051        0.46
9 2020-08-07     2020-08-14         90.20    0.0051        0.46

In [105]:
def identificar_conteudo_colunas(df, item):
    return [df[column].name for column in df if df[column].astype(str).str.contains(item).any()]

In [106]:
#Converter financeiro
coluna_monetario = identificar_conteudo_colunas(df, '\$')

for column_name in coluna_monetario:
    df[column_name] = df[column_name].str.replace('.', '')
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[R\$ ,]', '', regex=True).astype(float)

In [107]:
# Converter as colunas de percentual em numericas
coluna_percentual = identificar_conteudo_colunas(df, '\%')
for column_name in coluna_percentual:
    df[column_name] = df[column_name].str.replace(',', '.')
    df[column_name] = df[column_name].str.replace('[%,]', '', regex=True).astype(float)
    df[column_name] = df[column_name]/100

In [108]:
#Converter colunas de datas
coluna_data = identificar_conteudo_colunas(df, '\/')

for column_name in coluna_data:
  df[column_name] = df[column_name].apply(lambda x: datetime.strptime(x, '%d/%m/%y'))

In [111]:
df

   data_base data_pagamento  cotacao_base  div_yeld  rendimento
0 2021-05-07     2021-05-14         84.85    0.0054        0.46
1 2021-04-08     2021-04-15         84.63    0.0054        0.46
2 2021-03-05     2021-03-12         84.99    0.0056        0.48
3 2021-02-05     2021-02-12         89.58    0.0055        0.49
4 2021-01-08     2021-01-15         91.80    0.0054        0.50
5 2020-12-07     2020-12-14         87.00    0.0057        0.50
6 2020-11-09     2020-11-16         88.41    0.0053        0.47
7 2020-10-07     2020-10-15         91.50    0.0049        0.45
8 2020-09-08     2020-09-15         90.80    0.0051        0.46
9 2020-08-07     2020-08-14         90.20    0.0051        0.46